html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.chat-header {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}
.container {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}

.avatar-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.chat-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.chat-container {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    position: relative; /* Add position: relative to position the input box */
    max-width: 80vw
}

.message {
    font-family: 'Roboto', sans-serif; /* Change to the desired font */
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    font-size: 20px; /* Adjust the font size as needed */
    display: inline-block; /* Set display to inline-block */
}

#timestamp {
    font-size: 12px; /* Adjust the font size for the timestamp */
    font-family: 'Roboto', sans-serif; /* Change to the desired font */
    color: #777; /* Adjust the color for the timestamp */
}

/* Bot's chat bubble */
.received {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0;
    align-self: flex-start; /* Move chatbot's messages to the left */
    max-width: 70%;
    word-wrap: break-word;
}
/* User's chat bubble */
.sent {
    background-color: #f38edd;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0;
    align-self: flex-end; /* Move user's messages to the right */
    max-width: 70%;
    word-wrap: break-word;
}

.user-input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    font-size: 20px;
    word-wrap: break-word; /* Allow text to wrap to the next line */
}

.loading {
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif; /* Change the font-family as needed */
    color: #555; /* Change the text color as needed */

}

#current-date {
    font-family: 'Montserrat', sans-serif; 
    color: #333; /* Change the text color as needed */
    font-size: 18px; /* Change the font size as needed */
}


/* Keyframes for the animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to chat bubbles */
.message {
    animation: fadeIn 0.5s ease both; /* Adjust the animation duration and timing function as needed */
}

